.contato {
    display: grid;
    margin: 0 auto;
    margin-top: 160px;
    max-width: 800px;
    border-radius: 24px;
    padding: 2rem;
    background: #fff;
    filter: drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
}

.h1-text-align {
    text-align: center;
}

.contato-caixa-fototexto {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.contato-caixa-texto {
    display: grid;
    justify-self: start;
    align-self: center;
    padding: 0rem 4rem;
    gap: 4px;
}

.contato-caixa-texto h1 {
    font-weight: 600;
    line-height: 1;
    color: #1b1b1b;
}

.contato-caixa-texto h2 {
    font-weight: 600;
    line-height: 1.1;
    /* color: linear-gradient(#5737cf, #893ac5); */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#7056cc),
        to(#9658c5)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato-caixa-texto p {
    font-family: "Lato";
    font-weight: 600;
    color: #676767;
}

.contato-caixa-texto img {
    color: #676767;
    width: 100%;
    object-fit: contain;
}

.contato-caixa-foto {
    justify-self: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 8px;
}

.flex img {
    width: 24px;
    max-height: 24px;
}

.flex p {
    line-height: 1.1;
}

@media (max-width: 1000px) {
    .contato {
        max-width: 700px;
        margin-top: 120px;
    }

    .contato-caixa-texto {
        padding: 0rem 2rem;
    }
}

@media (max-width: 800px) {
    .contato {
        max-width: 700px;
        margin: 120px 0px 0px 0px;
        border-radius: 0px;
    }
    .contato-caixa-fototexto {
        display: grid;
        gap: 2rem;
    }
    .contato-caixa-foto {
        max-width: 60%;
    }
}

@media (max-width: 550px) {
    .contato-caixa-fototexto {
        display: grid;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }
    .contato-caixa-fototexto p {
        font-size: 16px;
    }
    .flex {
        justify-content: center;
        gap: 0.5rem;
    }

    .flex img {
        width: 16px;
        max-height: 16px;
    }

    .contato-caixa-texto {
        padding: 0rem 0rem;
    }
}
