.footer {
    margin: 0px;
    height: 150px;
    margin-top: 120px;
    background: #fff;
    filter: drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.07));
    display: flex;
    flex-direction: column;
    font-size: 16px;
    place-items: center center;
    place-content: center center;
}

@media (max-width: 550px) {
    .footer h3 {
        font-size: 16px;
    }
}
