body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0px;
    color: black;
    --c3: #3f3f3f;
}

h1,
h2,
h3,
p {
    margin: 0px;
    font-weight: 300;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-family: "Lato", Arial, sans-serif;
    font-size: 18px;
}

.playfair-display {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 72px;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.my-button-1 {
    padding: 18px 60px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background: linear-gradient(#5737cf, #893ac5);
}

.my-button-2 {
    padding: 18px 20px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    background: linear-gradient(#5737cf, #893ac5);
}

.margin-top-32 {
    margin-top: 2rem;
}

.margin-top-48 {
    margin-top: 3rem;
}

.margin-top-64 {
    margin-top: 4rem;
}

@media (max-width: 1300px) {
    .projetos,
    .habilidades {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 120px;
    }

    .idiomas {
        margin-top: 120px;
    }

    .playfair-display {
        font-size: 48px;
    }

    .skill-unica {
        padding: 8px 16px;
        font-weight: 600;
        font-size: 18px;
        border-radius: 50px;
    }
}

@media (max-width: 550px) {
    p,
    h3 {
        font-size: 16px;
    }

    .playfair-display {
        font-size: 36px;
    }

    .my-button-1 {
        padding: 1rem 2rem;
    }

    .my-button-2 {
        margin-top: 1rem;
    }

    .skill-unica {
        padding: 6px 12px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 50px;
    }
}
