.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    background-color: white;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.header-menu {
    display: flex;
    gap: 1rem;
}

.header-menu a {
    padding: 1rem;
    background-color: lightgrey;
    line-height: 1.3;
    display: block;
}

@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        gap: 1rem;
    }

    .header-menu {
        justify-content: center;
        gap: 0.5rem;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 20px 80px;
    }

    .header-menu {
        flex-wrap: wrap;
    }
}
