.projetos {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 160px;
}

.projetos img {
    width: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
}

.projetos-texto-1 {
    display: grid;
    place-items: center start;
    align-content: center;
    padding: 0rem 1.5rem;
    order: 2;
}

.projetos-texto-2 {
    display: grid;
    place-items: center end;
    align-content: center;
    text-align: end;
    order: 0;
    padding: 0rem 1.5rem;
}

.projetos-texto p {
    font-weight: 500;
}

.projetos-texto-p-1 {
    margin-top: 24px;
    font-family: "Lato";
    font-weight: 500;
    color: #3f3f3f;
}

.projetos-texto-p-2 {
    margin-top: 8px;
    font-family: "Poppins";
    color: #919191;
    font-weight: 500;
}

.h1-2 {
    text-align: center;
}

.h2-3 {
    font-size: 48px;
}

@media (max-width: 1200px) {
    .projetos {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 160px;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .projetos-texto-1 {
        display: grid;
        place-items: center start;
        align-content: center;
        max-width: 90%;
        order: 0;
    }
    .projetos-texto-2 {
        display: grid;
        place-items: center start;
        align-content: center;
        text-align: start;
        max-width: 90%;
        order: 0;
    }

    .projetos img {
        width: 95%;
        justify-self: center;
    }
}
